/* Variables */
/* Listas */
/* Extends */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
.social-facebook, .social-instagram, .titulo-redes, .mapa-footer, .texto-direccion, .container-index2, .container-index1, .video-index {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-index2, .container-index1 {
  margin: 0 auto;
}

/* Mixin */
/* CSS Header */
/* Listas */
/* Variables */
/* Extends */
.social-facebook, .social-instagram, .titulo-redes, .mapa-footer, .texto-direccion, .container-index2, .container-index1, .video-index {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-index2, .container-index1 {
  margin: 0 auto;
}

/* Mixin */
/* Inicio Header */
header {
  font-family: "Rubik", sans-serif;
  border-bottom: 10px solid #88f2ef;
}

.fondo-nav {
  background-color: #F6F2D4;
}

.grid-containerheader {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 80px;
}

.lista-menu {
  list-style-type: none;
  font-size: 20px;
  display: flex;
  margin-right: 30px;
}

li {
  padding-left: 10px;
}

.imagen-logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
  background-color: #F6F2D4;
}

/* Animaciones-transformaciones-transiciones */
.navbar-nav .nav-item {
  position: relative;
  padding: 7px 0;
  font-size: 1.3rem;
}

.navbar-nav .nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 3px;
  background: #5584AC;
  transition: 0.4s ease-out;
}

.navbar-nav .nav-item:hover::after {
  left: 0;
  width: 100%;
}

/* Mobile Header small */
@media screen and (min-width: 250px) and (max-width: 750px) {
  .grid-containerheader {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  .lista-menu {
    font-size: 11px;
  }

  li a {
    padding-left: 10px;
    color: black;
    margin-right: 0;
  }

  .nav-header {
    background-color: #88f2ef;
    justify-content: center;
  }

  .imagen-logo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    margin-left: 0;
  }

  header {
    width: 100%;
    border-bottom: none;
  }

  a > img {
    max-width: 200px;
  }
}
/* Index */
/* Listas */
/* Variables */
/* Extends */
.social-facebook, .social-instagram, .titulo-redes, .mapa-footer, .texto-direccion, .container-index2, .container-index1, .video-index {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-index2, .container-index1 {
  margin: 0 auto;
}

/* Mixin */
body {
  background-color: #5584AC;
}

/* Main */
h1 {
  font-family: "Rubik", sans-serif;
  font-size: var(45px);
  font-weight: 500;
  padding-left: 20px;
  margin: 30px 0px;
}

.textos-index {
  padding-left: 20px;
  font-family: "Rubik", sans-serif;
}

.imagenes-index {
  max-width: 30%;
  height: auto;
}

.video-index {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.video-index video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.container-index1 {
  font-family: "Rubik", sans-serif;
  font-size: 35px;
  width: 90%;
  grid-column: 1/3;
}

.container-index2 {
  font-family: "Rubik", sans-serif;
  font-size: 35px;
  width: 90%;
  padding-bottom: 20px;
  grid-column: 1/3;
}

.grid-containerind {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
}

.grid-videoind {
  grid-column: 1/3;
}

.grid-containerfooter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

#logo-footer {
  grid-column: 1/2;
}

#direccion {
  grid-column: 2/3;
}

#redes-sociales {
  grid-column: 3/4;
}

/* Mobile Index small */
@media screen and (min-width: 300px) and (max-width: 500px) {
  .container-index1 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }

  .container-index2 {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }

  .textos-index {
    font-size: var(20px);
    padding-bottom: 10px;
  }

  .imagenes-index {
    max-width: 90%;
    height: auto;
    padding-bottom: 10px;
  }

  h1 {
    font-size: 25px;
  }
}
/* Mobile Index medium */
@media screen and (min-width: 501px) and (max-width: 700px) {
  .container-index1 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
  }

  .container-index2 {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }

  .textos-index {
    font-size: var(20px);
  }

  .imagenes-index {
    max-width: 50%;
    height: auto;
  }
}
/* Fin main */
/* Nosotros */
/* Listas */
/* Variables */
/* Extends */
.social-facebook, .social-instagram, .titulo-redes, .mapa-footer, .texto-direccion, .video-index, .container-index1, .container-index2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-index1, .container-index2 {
  margin: 0 auto;
}

/* Mixin */
.texto-nosotros {
  padding-left: 20px;
  font-style: italic;
}

.imagen-nosotros {
  padding-bottom: 20px;
}

.textos-nosotros {
  font-family: "EB Garamond", serif;
  font-size: 30px;
  font-weight: 500;
  padding-right: 100px;
}

.titulos-nosotros {
  font-family: "Rubik", sans-serif;
  font-size: var(45px);
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  grid-column: 1/3;
  justify-self: start;
}

.grid-containernos {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
}

/* Mobile Nosotros small */
@media screen and (min-width: 300px) and (max-width: 499px) {
  .grid-containernos {
    display: block;
  }

  .imagen-nosotros {
    max-width: 90%;
    height: auto;
    padding-bottom: 5px;
    margin: auto;
  }

  .titulos-nosotros {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    font-size: "EB Garamond";
    padding-left: 0;
  }

  .textos-nosotros {
    display: flex;
    font-size: 20px;
    padding-bottom: 10px;
    text-align: center;
    padding-left: 50px;
  }
}
/* Mobile Nosotros medium */
@media screen and (min-width: 500px) and (max-width: 900px) {
  .grid-containernos {
    display: block;
  }

  .imagen-nosotros {
    max-width: 70%;
    height: auto;
    margin: auto;
  }

  .titulos-nosotros {
    display: grid;
    font-size: 27px;
  }

  .textos-nosotros {
    font-size: 20px;
    padding-bottom: 10px;
    text-align: justify;
    padding-left: 70px;
  }

  .grid-itemnos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
}
/* Fin Nosotros.html */
/* Cursos */
/* Listas */
/* Variables */
/* Extends */
.social-facebook, .social-instagram, .titulo-redes, .mapa-footer, .texto-direccion, .video-index, .container-index1, .container-index2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-index1, .container-index2 {
  margin: 0 auto;
}

/* Mixin */
.titulos-cursos {
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.titulos-tablas {
  text-align: center;
}

table {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #88f2ef;
  border-spacing: 0;
  background-color: #22577E;
  color: #F6F2D4;
  font-family: "Rubik", sans-serif;
}

th, td {
  width: 25%;
  text-align: left;
  vertical-align: top;
  border: 1px solid #95D1CC;
  border-collapse: collapse;
  padding: 10px;
}

.grid-containercursos {
  display: grid;
  justify-items: center;
  align-items: start;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
}

.contenedor-cursos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.contenedor-carousel {
  max-width: 40%;
  height: auto;
  margin: auto;
  padding: 30px 0;
}

.imagen-nosotros img {
  padding-left: 10px;
}

/* Mobile Cursos Small*/
@media screen and (min-width: 300px) and (max-width: 480px) {
  .contenedor-cursos {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }

  .titulos-cursos {
    font-size: var(20px);
    text-align: center;
  }

  .imagenes-cursos {
    width: 60%;
    height: auto;
  }

  table {
    font-size: 10px;
  }

  .imagenes-cursos {
    width: 90%;
  }

  .contenedor-carousel {
    max-width: 90%;
    height: auto;
    margin: auto;
    padding: 30px 0;
  }
}
/* Mobile Cursos Medium */
@media screen and (min-width: 481px) and (max-width: 900px) {
  .titulos-cursos {
    font-size: var(20px);
    text-align: center;
  }

  .contenedor-carousel {
    max-width: 90%;
    height: auto;
    margin: auto;
    padding: 30px 0;
  }
}
/*Fin de Cursos.html*/
/* Consultoria */
/* Listas */
/* Variables */
/* Extends */
.social-facebook, .social-instagram, .titulo-redes, .mapa-footer, .texto-direccion, .video-index, .container-index1, .container-index2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-index1, .container-index2 {
  margin: 0 auto;
}

/* Mixin */
.grid-containerconsul {
  display: grid;
  justify-items: start;
  align-items: center;
  grid-template-columns: 1 fr 1fr;
  grid-template-rows: repeat(3 auto);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-bottom: 10px;
}

.imagenes-consultoria {
  height: 300px;
}

.titulo-consultoria {
  grid-column: 1/3;
  grid-row: 1/2;
  font-family: "Rubik", sans-serif;
  font-size: var(45px);
  padding-top: 10px;
  padding-left: 20px;
}

.imagen-consul1 {
  grid-column: 1/2;
  grid-row: 2/3;
  padding-left: 10px;
}

.textos-consultoria {
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  grid-column: 2/3;
  grid-row: 2/3;
}

.imagen-consul2 {
  grid-column: 1/2;
  grid-row: 3/4;
  padding-left: 10px;
}

.contenedor-consultoria {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;
  font-family: "Rubik", sans-serif;
  font-size: 25px;
}

.contenedor-consultoria ul {
  list-style-type: none;
}

.clientes-consultoria {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

/* Mobile Consultoria Small */
@media screen and (min-width: 250px) and (max-width: 450px) {
  .grid-containerconsul {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1 fr 1fr;
    grid-template-rows: repeat(5 auto);
    grid-row-gap: 5px;
  }

  .imagen-consul1 {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-left: 3px;
    width: 140px;
    height: auto;
  }

  .imagen-consul2 {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-left: 0;
    width: 140px;
    height: auto;
  }

  .textos-consultoria {
    width: 90%;
    justify-self: center;
    font-size: 15px;
    grid-column: 1/3;
    grid-row: 3/4;
    padding-top: 10px;
  }

  .titulo-consultoria {
    font-size: var(20px);
    justify-self: center;
    grid-column: 1/3;
    grid-row: 1/2;
    padding-top: 10px;
  }

  .contenedor-consultoria {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: stretch;
    width: 100%;
    font-size: 15px;
    grid-column: 1/3;
    grid-row: 4/5;
    padding-top: 20px;
  }

  .clientes-consultoria {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
    padding-bottom: 20px;
  }

  .titulo2-consultoria {
    padding-left: 15px;
  }
}
/* Mobile Consultoria Medium */
@media screen and (min-width: 451px) and (max-width: 650px) {
  .grid-containerconsul {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1 fr 1fr;
    grid-template-rows: repeat(5 auto);
    grid-row-gap: 5px;
  }

  .imagen-consul1 {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-left: 3px;
    width: 200px;
    height: auto;
  }

  .imagen-consul2 {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-left: 0;
    width: 200px;
    height: auto;
  }

  .textos-consultoria {
    display: grid;
    justify-items: center;
    align-items: stretch;
    width: 90%;
    font-size: 20px;
    grid-column: 1/3;
    grid-row: 3/4;
    padding-top: 10px;
  }

  .titulo-consultoria {
    font-size: var(20px);
    justify-self: center;
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .contenedor-consultoria {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: stretch;
    width: 100%;
    font-size: 15px;
    grid-column: 1/3;
    grid-row: 4/5;
    padding-top: 20px;
  }

  .clientes-consultoria {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .titulo2-consultoria {
    padding-left: 15px;
  }
}
/* Mobile Consultoria Big */
@media screen and (min-width: 651px) and (max-width: 1000px) {
  .textos-consultoria {
    font-size: 20px;
  }

  .titulo-consultoria {
    font-size: var(35px);
  }

  .contenedor-consultoria {
    font-size: 20px;
  }
}
/* Fin Consultoria.html */
/* CSS Contacto */
/* Listas */
/* Variables */
/* Extends */
.social-facebook, .social-instagram, .titulo-redes, .mapa-footer, .texto-direccion, .video-index, .container-index1, .container-index2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-index1, .container-index2 {
  margin: 0 auto;
}

/* Mixin */
/* Inicio Contacto */
.texto-contacto {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

#logos-contacto {
  padding-left: 20px;
}

.formulario-contacto {
  margin-top: 15px;
  padding: 20px;
  background-color: #F6F2D4;
  border: 2px solid black;
}

.container-contacto {
  margin-bottom: 10px;
}

@media screen and (min-width: 250px) and (max-width: 850px) {
  .row {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }
}
/* CSS Footer */
/* Listas */
/* Variables */
/* Extends */
.social-facebook, .social-instagram, .titulo-redes, .mapa-footer, .texto-direccion, .video-index, .container-index1, .container-index2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-index1, .container-index2 {
  margin: 0 auto;
}

/* Mixin */
/* Inicio Footer */
footer {
  background-color: rgba(229, 255, 205, 0.637);
  font-family: "Rubik", sans-serif;
}

.grid-containerfooter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.flexcontainer-footer {
  display: flex;
}

.titulo-direccion {
  padding-left: 15px;
}

.texto-direccion {
  margin-top: 10px;
}

.mapa-footer {
  margin: 10px 0;
}

.flex-containerfooter2 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 20px;
}

.titulo-redes {
  font-size: 25px;
  margin-top: 10px;
}

.logo-footer {
  padding-left: 15px;
  margin-top: 10px;
}

.logo-redes {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}
.logo-redes a {
  text-decoration: none;
  color: black;
}
.logo-redes a img {
  padding-right: 5px;
}

/* Mobile Small */
@media screen and (min-width: 250px) and (max-width: 850px) {
  .grid-containerfooter {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
  }

  .logo-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
  }

  .texto-direccion {
    margin-top: 20px;
  }

  .flex-containerfooter2 {
    margin-top: 20px;
  }
}
/* Fin del footer */
/* Fonts*/

/*# sourceMappingURL=style.css.map */
