/* Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
/* Imports de archivos */
/* Variables */
/* Listas */
/* Extends */
.grid-containerfooter .flex-containerfooter2 .logo-redes .social-facebook, .grid-containerfooter .flex-containerfooter2 .logo-redes .social-instagram, .grid-containerfooter .flex-containerfooter2 .titulo-redes, .grid-containerfooter .flex-containerfooter .mapa-footer, .grid-containerfooter .flex-containerfooter .texto-direccion, body main .grid-containerind .container-index2, body main .grid-containerind .container-index1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

body main .grid-containerind .container-index2, body main .grid-containerind .container-index1 {
  margin: 0 auto;
}

/* Mixin */
/* Maps */
/* CSS Header */
/* Listas */
/* Variables */
/* Extends */
.grid-containerfooter .flex-containerfooter2 .logo-redes .social-facebook, .grid-containerfooter .flex-containerfooter2 .logo-redes .social-instagram, .grid-containerfooter .flex-containerfooter2 .titulo-redes, .grid-containerfooter .flex-containerfooter .mapa-footer, .grid-containerfooter .flex-containerfooter .texto-direccion, body main .grid-containerind .container-index2, body main .grid-containerind .container-index1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

body main .grid-containerind .container-index2, body main .grid-containerind .container-index1 {
  margin: 0 auto;
}

/* Mixin */
/* Maps */
/* Inicio Header */
header {
  font-family: "Rubik", sans-serif;
  border-bottom: 10px solid #88f2ef;
}
header .fondo-nav {
  background-color: #F6F2D4;
}
header .fondo-nav .container-fluid .navbar-collapse .navbar-nav {
  position: relative;
  padding: 7px 0;
  font-size: 1.3rem;
}
header .fondo-nav .container-fluid .navbar-collapse .navbar-nav .nav-item {
  position: relative;
  padding: 7px 0;
  font-size: 1.3rem;
}
@media screen and (min-width: 250px) and (max-width: 750px) {
  header .fondo-nav .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
    padding-left: 10px;
    color: black;
    margin-right: 0;
    max-width: 200px;
  }
}
@media screen and (min-width: 250px) and (max-width: 750px) {
  header .fondo-nav {
    width: 100%;
    border-bottom: none;
  }
}

.navbar-nav .nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 3px;
  background: #5584AC;
  transition: 0.4s ease-out;
}

.navbar-nav .nav-item:hover::after {
  left: 0;
  width: 100%;
}

/* Fin Header */
/* Index */
/* Listas */
/* Variables */
/* Extends */
.grid-containerfooter .flex-containerfooter2 .logo-redes .social-facebook, .grid-containerfooter .flex-containerfooter2 .logo-redes .social-instagram, .grid-containerfooter .flex-containerfooter2 .titulo-redes, .grid-containerfooter .flex-containerfooter .mapa-footer, .grid-containerfooter .flex-containerfooter .texto-direccion, body main .grid-containerind .container-index2, body main .grid-containerind .container-index1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

body main .grid-containerind .container-index2, body main .grid-containerind .container-index1 {
  margin: 0 auto;
}

/* Mixin */
/* Maps */
body {
  background: url("../multimedia/fondo.webp");
}
body main .grid-containerind {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
}
body main .grid-containerind .texto-titulo {
  grid-column: 1/3;
}
body main .grid-containerind .texto-titulo h1 {
  font-family: "Rubik", sans-serif;
  font-size: var(45px);
  font-weight: 500;
  padding-left: 20px;
  margin: 30px 0px;
}
@media screen and (min-width: 300px) and (max-width: 500px) {
  body main .grid-containerind .texto-titulo h1 {
    font-size: 25px;
  }
}
body main .grid-containerind .container-index1 {
  font-family: "Rubik", sans-serif;
  font-size: 35px;
  width: 90%;
  grid-column: 1/3;
}
body main .grid-containerind .container-index1 .imagenes-index {
  border-radius: 20px;
  max-width: 25%;
  height: auto;
}
@media screen and (min-width: 300px) and (max-width: 500px) {
  body main .grid-containerind .container-index1 .imagenes-index {
    max-width: 85%;
    height: auto;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) {
  body main .grid-containerind .container-index1 .imagenes-index {
    max-width: 60%;
    height: auto;
  }
}
@media screen and (min-width: 701px) and (max-width: 850px) {
  body main .grid-containerind .container-index1 .imagenes-index {
    max-width: 40%;
    height: auto;
  }
}
body main .grid-containerind .container-index1 .textos-index {
  padding-left: 20px;
  font-family: "Rubik", sans-serif;
}
@media screen and (min-width: 300px) and (max-width: 500px) {
  body main .grid-containerind .container-index1 .textos-index {
    font-size: 20px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) {
  body main .grid-containerind .container-index1 .textos-index {
    font-size: 20px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1150px) {
  body main .grid-containerind .container-index1 .textos-index {
    font-size: 20px;
  }
}
@media screen and (min-width: 300px) and (max-width: 500px) {
  body main .grid-containerind .container-index1 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) {
  body main .grid-containerind .container-index1 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
  }
}
body main .grid-containerind .container-index2 {
  font-family: "Rubik", sans-serif;
  font-size: 35px;
  width: 90%;
  padding-bottom: 20px;
  grid-column: 1/3;
}
body main .grid-containerind .container-index2 .textos-index {
  padding-left: 20px;
  font-family: "Rubik", sans-serif;
}
@media screen and (min-width: 300px) and (max-width: 500px) {
  body main .grid-containerind .container-index2 .textos-index {
    font-size: 20px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) {
  body main .grid-containerind .container-index2 .textos-index {
    font-size: 20px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1150px) {
  body main .grid-containerind .container-index2 .textos-index {
    font-size: 20px;
  }
}
body main .grid-containerind .container-index2 .imagenes-index {
  border-radius: 20px;
  max-width: 30%;
  height: auto;
}
@media screen and (min-width: 300px) and (max-width: 500px) {
  body main .grid-containerind .container-index2 .imagenes-index {
    max-width: 85%;
    height: auto;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) {
  body main .grid-containerind .container-index2 .imagenes-index {
    max-width: 60%;
    height: auto;
  }
}
@media screen and (min-width: 701px) and (max-width: 850px) {
  body main .grid-containerind .container-index2 .imagenes-index {
    max-width: 40%;
    height: auto;
  }
}
@media screen and (min-width: 300px) and (max-width: 500px) {
  body main .grid-containerind .container-index2 {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) {
  body main .grid-containerind .container-index2 {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }
}
body main .grid-containerind .container-videos {
  margin-top: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: stretch;
}
body main .grid-containerind .container-videos .video-index {
  border-radius: 20px;
  width: 25%;
  max-height: auto;
}
@media screen and (min-width: 300px) and (max-width: 500px) {
  body main .grid-containerind .container-videos .video-index {
    width: 90%;
    max-height: auto;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) {
  body main .grid-containerind .container-videos .video-index {
    width: 90%;
    max-height: auto;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 701px) and (max-width: 850px) {
  body main .grid-containerind .container-videos .video-index {
    width: 90%;
    max-height: auto;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 300px) and (max-width: 500px) {
  body main .grid-containerind .container-videos {
    flex-direction: column;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) {
  body main .grid-containerind .container-videos {
    flex-direction: column;
  }
}
@media screen and (min-width: 701px) and (max-width: 850px) {
  body main .grid-containerind .container-videos {
    flex-direction: column;
  }
}

/* Fin main */
/* CSS Footer */
/* Listas */
/* Variables */
/* Extends */
.grid-containerfooter .flex-containerfooter2 .logo-redes .social-facebook, .grid-containerfooter .flex-containerfooter2 .logo-redes .social-instagram, .grid-containerfooter .flex-containerfooter2 .titulo-redes, .grid-containerfooter .flex-containerfooter .mapa-footer, .grid-containerfooter .flex-containerfooter .texto-direccion, body main .grid-containerind .container-index1, body main .grid-containerind .container-index2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

body main .grid-containerind .container-index1, body main .grid-containerind .container-index2 {
  margin: 0 auto;
}

/* Mixin */
/* Maps */
/* Inicio Footer */
.grid-containerfooter {
  background-color: rgba(229, 255, 205, 0.637);
  font-family: "Rubik", sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}
.grid-containerfooter .logo-footer {
  padding-left: 15px;
  margin-top: 10px;
}
@media screen and (min-width: 250px) and (max-width: 850px) {
  .grid-containerfooter .logo-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
  }
}
.grid-containerfooter .flex-containerfooter {
  display: flex;
  flex-direction: column;
}
.grid-containerfooter .flex-containerfooter .texto-direccion {
  margin-top: 10px;
}
@media screen and (min-width: 250px) and (max-width: 850px) {
  .grid-containerfooter .flex-containerfooter .texto-direccion {
    margin-top: 20px;
  }
}
.grid-containerfooter .flex-containerfooter .texto-direccion .titulo-direccion {
  padding-left: 15px;
}
.grid-containerfooter .flex-containerfooter .mapa-footer {
  margin: 10px 0;
}
.grid-containerfooter .flex-containerfooter2 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 20px;
}
@media screen and (min-width: 250px) and (max-width: 850px) {
  .grid-containerfooter .flex-containerfooter2 {
    margin-top: 20px;
  }
}
.grid-containerfooter .flex-containerfooter2 .titulo-redes {
  font-size: 25px;
  margin-top: 10px;
}
.grid-containerfooter .flex-containerfooter2 .logo-redes {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}
.grid-containerfooter .flex-containerfooter2 .logo-redes .social-instagram {
  text-decoration: none;
  color: black;
}
.grid-containerfooter .flex-containerfooter2 .logo-redes .social-instagram img {
  padding-right: 5px;
}
.grid-containerfooter .flex-containerfooter2 .logo-redes .social-facebook {
  text-decoration: none;
  color: black;
}
.grid-containerfooter .flex-containerfooter2 .logo-redes .social-facebook img {
  padding-right: 5px;
}
@media screen and (min-width: 250px) and (max-width: 850px) {
  .grid-containerfooter {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
  }
}

/* Fin del footer */
/* Cursos */
/* Listas */
/* Variables */
/* Extends */
body main .grid-containerind .container-index1, body main .grid-containerind .container-index2, .grid-containerfooter .flex-containerfooter .texto-direccion, .grid-containerfooter .flex-containerfooter .mapa-footer, .grid-containerfooter .flex-containerfooter2 .titulo-redes, .grid-containerfooter .flex-containerfooter2 .logo-redes .social-instagram, .grid-containerfooter .flex-containerfooter2 .logo-redes .social-facebook {
  display: flex;
  justify-content: center;
  align-items: center;
}

body main .grid-containerind .container-index1, body main .grid-containerind .container-index2 {
  margin: 0 auto;
}

/* Mixin */
/* Maps */
.grid-containercursos {
  display: grid;
  justify-items: center;
  align-items: start;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
}
.grid-containercursos .titulos-cursos {
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
@media screen and (min-width: 300px) and (max-width: 480px) {
  .grid-containercursos .titulos-cursos {
    font-size: var(20px);
    text-align: center;
  }
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .grid-containercursos .titulos-cursos {
    font-size: var(20px);
    text-align: center;
  }
}
.grid-containercursos .tabla-cursos {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #88f2ef;
  border-spacing: 0;
  background-color: #22577E;
  color: #F6F2D4;
  font-family: "Rubik", sans-serif;
}
.grid-containercursos .tabla-cursos .titulos-tablas {
  text-align: center;
  width: 25%;
  vertical-align: top;
  border: 1px solid #95D1CC;
  border-collapse: collapse;
  padding: 10px;
}
@media screen and (min-width: 300px) and (max-width: 480px) {
  .grid-containercursos .tabla-cursos {
    font-size: 10px;
  }
}

td {
  width: 25%;
  text-align: left;
  vertical-align: top;
  border: 1px solid #95D1CC;
  border-collapse: collapse;
  padding: 10px;
}

.contenedor-carousel {
  max-width: 40%;
  height: auto;
  margin: auto;
  padding: 30px 0;
}
.contenedor-carousel .carousel-inner .carousel-item img {
  border-radius: 20px;
}
@media screen and (min-width: 300px) and (max-width: 480px) {
  .contenedor-carousel {
    max-width: 90%;
    height: auto;
    margin: auto;
    padding: 30px 0;
  }
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .contenedor-carousel {
    max-width: 90%;
    height: auto;
    margin: auto;
    padding: 30px 0;
  }
}

/*Fin de Cursos.html*/
/* Consultoria */
/* Listas */
/* Variables */
/* Extends */
body main .grid-containerind .container-index1, body main .grid-containerind .container-index2, .grid-containerfooter .flex-containerfooter .texto-direccion, .grid-containerfooter .flex-containerfooter .mapa-footer, .grid-containerfooter .flex-containerfooter2 .titulo-redes, .grid-containerfooter .flex-containerfooter2 .logo-redes .social-instagram, .grid-containerfooter .flex-containerfooter2 .logo-redes .social-facebook {
  display: flex;
  justify-content: center;
  align-items: center;
}

body main .grid-containerind .container-index1, body main .grid-containerind .container-index2 {
  margin: 0 auto;
}

/* Mixin */
/* Maps */
.grid-containerconsul {
  display: grid;
  justify-items: start;
  align-items: center;
  grid-template-columns: 1 fr 1fr;
  grid-template-rows: repeat(3 auto);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-bottom: 10px;
}
.grid-containerconsul .titulo-consultoria {
  grid-column: 1/3;
  grid-row: 1/2;
  font-family: "Rubik", sans-serif;
  font-size: var(45px);
  padding-top: 10px;
  padding-left: 20px;
}
@media screen and (min-width: 250px) and (max-width: 450px) {
  .grid-containerconsul .titulo-consultoria {
    font-size: var(20px);
    justify-self: center;
    grid-column: 1/3;
    grid-row: 1/2;
    padding-top: 10px;
  }
}
@media screen and (min-width: 451px) and (max-width: 700px) {
  .grid-containerconsul .titulo-consultoria {
    font-size: var(20px);
    justify-self: center;
    grid-column: 1/3;
    grid-row: 1/2;
  }
}
@media screen and (min-width: 701px) and (max-width: 1000px) {
  .grid-containerconsul .titulo-consultoria {
    font-size: var(35px);
  }
}
.grid-containerconsul .imagen-consul1 {
  border-radius: 20px;
  height: 300px;
  grid-column: 1/2;
  grid-row: 2/3;
  padding-left: 10px;
}
@media screen and (min-width: 250px) and (max-width: 450px) {
  .grid-containerconsul .imagen-consul1 {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-left: 3px;
    width: 140px;
    height: auto;
  }
}
@media screen and (min-width: 451px) and (max-width: 700px) {
  .grid-containerconsul .imagen-consul1 {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-left: 3px;
    width: 200px;
    height: auto;
  }
}
.grid-containerconsul .textos-consultoria {
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  grid-column: 2/3;
  grid-row: 2/3;
}
@media screen and (min-width: 250px) and (max-width: 450px) {
  .grid-containerconsul .textos-consultoria {
    width: 90%;
    justify-self: center;
    font-size: 15px;
    grid-column: 1/3;
    grid-row: 3/4;
    padding-top: 10px;
  }
}
@media screen and (min-width: 451px) and (max-width: 700px) {
  .grid-containerconsul .textos-consultoria {
    display: grid;
    justify-items: center;
    align-items: stretch;
    width: 90%;
    font-size: 20px;
    grid-column: 1/3;
    grid-row: 3/4;
    padding-top: 10px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1000px) {
  .grid-containerconsul .textos-consultoria {
    font-size: 20px;
  }
}
.grid-containerconsul .imagen-consul2 {
  border-radius: 20px;
  height: 300px;
  grid-column: 1/2;
  grid-row: 3/4;
  padding-left: 10px;
}
@media screen and (min-width: 250px) and (max-width: 450px) {
  .grid-containerconsul .imagen-consul2 {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-left: 0;
    width: 140px;
    height: auto;
  }
}
@media screen and (min-width: 451px) and (max-width: 700px) {
  .grid-containerconsul .imagen-consul2 {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-left: 0;
    width: 200px;
    height: auto;
  }
}
.grid-containerconsul .contenedor-consultoria {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;
  font-family: "Rubik", sans-serif;
  font-size: 25px;
}
@media screen and (min-width: 250px) and (max-width: 450px) {
  .grid-containerconsul .contenedor-consultoria {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: stretch;
    width: 100%;
    font-size: 15px;
    grid-column: 1/3;
    grid-row: 4/5;
    padding-top: 20px;
  }
}
@media screen and (min-width: 451px) and (max-width: 700px) {
  .grid-containerconsul .contenedor-consultoria {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: stretch;
    width: 100%;
    font-size: 15px;
    grid-column: 1/3;
    grid-row: 4/5;
    padding-top: 20px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1000px) {
  .grid-containerconsul .contenedor-consultoria {
    font-size: 20px;
  }
}
@media screen and (min-width: 250px) and (max-width: 450px) {
  .grid-containerconsul .contenedor-consultoria .titulo2-consultoria {
    padding-left: 15px;
  }
}
@media screen and (min-width: 451px) and (max-width: 700px) {
  .grid-containerconsul .contenedor-consultoria .titulo2-consultoria {
    padding-left: 15px;
  }
}
.grid-containerconsul .contenedor-consultoria .clientes-consultoria {
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
@media screen and (min-width: 250px) and (max-width: 450px) {
  .grid-containerconsul .contenedor-consultoria .clientes-consultoria {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 451px) and (max-width: 700px) {
  .grid-containerconsul .contenedor-consultoria .clientes-consultoria {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
    padding-top: 10px;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 250px) and (max-width: 450px) {
  .grid-containerconsul {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1 fr 1fr;
    grid-template-rows: repeat(5 auto);
    grid-row-gap: 5px;
  }
}
@media screen and (min-width: 451px) and (max-width: 700px) {
  .grid-containerconsul {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1 fr 1fr;
    grid-template-rows: repeat(5 auto);
    grid-row-gap: 5px;
  }
}

/* Fin Consultoria.html */
/* CSS Contacto */
/* Listas */
/* Variables */
/* Extends */
body main .grid-containerind .container-index1, body main .grid-containerind .container-index2, .grid-containerfooter .flex-containerfooter .texto-direccion, .grid-containerfooter .flex-containerfooter .mapa-footer, .grid-containerfooter .flex-containerfooter2 .titulo-redes, .grid-containerfooter .flex-containerfooter2 .logo-redes .social-instagram, .grid-containerfooter .flex-containerfooter2 .logo-redes .social-facebook {
  display: flex;
  justify-content: center;
  align-items: center;
}

body main .grid-containerind .container-index1, body main .grid-containerind .container-index2 {
  margin: 0 auto;
}

/* Mixin */
/* Maps */
/* Inicio Contacto */
main section {
  margin-bottom: 10px;
}
main section section section form {
  border-radius: 20px;
  margin-top: 15px;
  padding: 20px;
  background-color: #F6F2D4;
  border: 2px solid black;
}
main section section section h3 {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
main section section section p {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
main section section section h3 {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
main section section section p {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
main section section section h3 {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
main section section section #logos-contacto {
  padding-left: 20px;
}
@media screen and (min-width: 250px) and (max-width: 850px) {
  main section section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }
}

/* Fin Contato */
/* Nosotros */
/* Listas */
/* Variables */
/* Extends */
body main .grid-containerind .container-index1, body main .grid-containerind .container-index2, .grid-containerfooter .flex-containerfooter .texto-direccion, .grid-containerfooter .flex-containerfooter .mapa-footer, .grid-containerfooter .flex-containerfooter2 .titulo-redes, .grid-containerfooter .flex-containerfooter2 .logo-redes .social-instagram, .grid-containerfooter .flex-containerfooter2 .logo-redes .social-facebook {
  display: flex;
  justify-content: center;
  align-items: center;
}

body main .grid-containerind .container-index1, body main .grid-containerind .container-index2 {
  margin: 0 auto;
}

/* Mixin */
/* Maps */
.grid-containernos {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
}
@media screen and (min-width: 500px) and (max-width: 900px) {
  .grid-containernos {
    display: block;
  }
}
.grid-containernos .titulos-nosotros {
  font-family: "Rubik", sans-serif;
  font-size: var(45px);
  font-weight: 500;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  grid-column: 1/3;
  justify-self: start;
}
@media screen and (min-width: 300px) and (max-width: 499px) {
  .grid-containernos .titulos-nosotros {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    font-size: "EB Garamond";
    padding-left: 0;
  }
}
@media screen and (min-width: 500px) and (max-width: 900px) {
  .grid-containernos .titulos-nosotros {
    display: grid;
    font-size: 27px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
}
.grid-containernos .imagen-nosotros {
  padding-bottom: 20px;
  padding-left: 10px;
  max-width: 70%;
}
.grid-containernos .imagen-nosotros img {
  border-radius: 20px;
}
@media screen and (min-width: 300px) and (max-width: 499px) {
  .grid-containernos .imagen-nosotros {
    max-width: 90%;
    height: auto;
    padding-bottom: 5px;
    margin: auto;
  }
}
@media screen and (min-width: 500px) and (max-width: 900px) {
  .grid-containernos .imagen-nosotros {
    max-width: 70%;
    height: auto;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
}
.grid-containernos .texto-nosotros {
  padding-left: 20px;
  font-style: italic;
}
.grid-containernos .texto-nosotros .textos-nosotros {
  font-family: "EB Garamond", serif;
  font-size: 30px;
  font-weight: 500;
  padding-right: 100px;
}
@media screen and (min-width: 300px) and (max-width: 499px) {
  .grid-containernos .texto-nosotros .textos-nosotros {
    display: flex;
    font-size: 20px;
    padding-bottom: 10px;
    text-align: center;
    padding-right: 10px;
  }
}
@media screen and (min-width: 500px) and (max-width: 900px) {
  .grid-containernos .texto-nosotros .textos-nosotros {
    font-size: 20px;
    padding-bottom: 10px;
    text-align: center;
    justify-content: center;
    padding-left: 70px;
  }
}
@media screen and (min-width: 901px) and (max-width: 1300px) {
  .grid-containernos .texto-nosotros .textos-nosotros {
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 70px;
  }
}
@media screen and (min-width: 500px) and (max-width: 900px) {
  .grid-containernos .texto-nosotros {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 300px) and (max-width: 499px) {
  .grid-containernos {
    display: block;
  }
}
@media screen and (min-width: 901px) and (max-width: 1300px) {
  .grid-containernos {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
  }
}

/* Fin Nosotros.html */

/*# sourceMappingURL=style.css.map */
