/* Reseteo los valores por defecto */
*{
    margin: 0;
    padding: 0;
}

/* Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Variables */
:root{
--tamaño-titulos:45px;
--tamaño-mobilesmall:20px;
--tamaño-mobilemedium:35px;
}
/* Index.html */
/* Inicio Body */
body{
    background-color: #5584AC;
}
/* Fin Body */
/* Inicio Header */
header{
    font-family: 'Rubik', sans-serif;
    border-bottom: 10px solid #88f2ef;
}
.fondo-nav{
    background-color: #F6F2D4;
}
.grid-containerheader{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 80px; 
}
.lista-menu{
    list-style-type: none;
    font-size: 20px;
    display: flex;
    margin-right: 30px;
}
.nav-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
li{
    padding-left: 10px;
}
.imagen-logo{
    display: flex;
    align-items: center;
    margin-left: 10px;
    background-color: #F6F2D4;
}
/* Animaciones-transformaciones-transiciones */
.menu:hover{
    transform: scaleY(2);
}
/* Mobile Header small */
@media screen and (min-width:250px) and (max-width:750px){
    .grid-containerheader{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    } 
    .lista-menu{
        display: flex;
        justify-content: center;
        font-size: 11px;
    } 
    li a{
        padding-left: 10px;
        color: black;
        margin-right: 0;
    }
    .nav-header{
        background-color: #88f2ef;
        justify-content: center;
    }
    .imagen-logo{
        display: flex;
        justify-content: center;
        margin-left: 0;
    }
    header{
        width: 100%;
        border-bottom: none;
    }
   a>img{
     max-width: 200px;  
   }
}

/* Fin del Header */
/* Inicio main */

h1{
    font-family: 'Rubik', sans-serif;
    font-size: var(--tamaño-titulos);
    font-weight: 500;
    padding-left: 20px;
    margin: 30px 0px;
}
.textos-index{
    padding-left: 20px;
    font-family: 'Rubik', sans-serif; 
}
.imagenes-index{
    max-width: 30%;
    height: auto;
}
.video-index{
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.video-index video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit:cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.container-index1{
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    width: 90%;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    grid-column:1/3;
}

.container-index2{
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    width: 90%;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
    grid-column:1/3;
}
.grid-containerind{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
}
.grid-videoind{
    grid-column: 1/3;
}
.grid-containerfooter{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}
#logo-footer{
    grid-column: 1/2;
}
#direccion{
    grid-column: 2/3; 
}
#redes-sociales{
    grid-column: 3/4;
}
/* Mobile Index small */

@media  screen and (min-width:300px) and (max-width:500px){
    .container-index1{
        display: flex;
        flex-direction: column;
    }
    .container-index2{
        display: flex;
        flex-direction: column-reverse;
    }
    .textos-index{
        font-size: var(--tamaño-mobilesmall);
        padding-bottom: 10px;
    }
    .imagenes-index{
        max-width: 90%;
        height: auto;
        padding-bottom: 10px;
    }
    h1{
        font-size: 25px;
    }
}
/* Mobile Index medium */

@media  screen and (min-width:501px) and (max-width:700px) {
    .container-index1{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .container-index2{
        display: flex;
        flex-direction: column-reverse;
    }
    .textos-index{
        font-size: var(--tamaño-mobilesmall);
    }
    .imagenes-index{
        max-width: 50%;
        height: auto;
    }
}
/* Fin main */

/* Nosotros.html */

.texto-nosotros{
    padding-left: 20px;
    font-style: italic;
}
.imagen-nosotros{
   padding-bottom: 20px;
}
.textos-nosotros{
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    font-weight: 500;
    padding-right: 100px;
}
.titulos-nosotros{
    font-family: 'Rubik', sans-serif;
    font-size: var(--tamaño-titulos);
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    grid-column: 1/3;
    justify-self:start;
}
.grid-containernos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    align-items: center;
    justify-items: center;
}
/* Mobile Nosotros small */

@media screen and (min-width: 300px) and (max-width:499px) {
    .grid-containernos{
        display: block;
    }
    .imagen-nosotros{
        max-width: 90%;
        height: auto;
        padding-bottom: 5px;
        margin:auto 
    }
    .titulos-nosotros{
        display: flex;
        justify-content: center;
        font-size:20px;
        padding-left: 0;
    }
    .textos-nosotros{
        display: flex;
        font-size: var(--tamaño-mobilesmall);
        padding-bottom: 10px;
        text-align: center;
        padding-left: 50px;
    }
}
/* Mobile Nosotros medium */

@media screen and (min-width: 500px) and (max-width:900px) {
    .grid-containernos{
        display: block;
    }
    .imagen-nosotros{
        max-width: 70%;
        height: auto;
        margin:auto
    }
    .titulos-nosotros{
        display: grid;
        font-size: 27px;
    }
    .textos-nosotros{
        font-size: 20px;
        padding-bottom: 10px;
        text-align: justify;
        padding-left: 70px;
    }
    .grid-itemnos{
        align-items: center;
        justify-items: center;
    }
}
/* Fin Nosotros.html */

/* Cursos.html */
.titulos-cursos{
    font-family: 'Rubik', sans-serif;
    font-size: var(--tamaño-titulos);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.titulos-tablas{
    text-align: center;  
}
table {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #F6F2D4;
    border-spacing: 0;
    background-color: #22577E;
    color: #F6F2D4;
    font-family: 'Rubik', sans-serif;
 }
 th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #95D1CC;
    border-collapse: collapse;
    padding: 10px;
 }
 
.grid-containercursos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    justify-content: center;
    align-content: start;
}
.contenedor-cursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
 .contenedor-carousel{
    max-width: 40%;
    height: auto;
    margin: auto;
    padding:30px 0;
}

/* Animaciones-transformaciones-transiciones */
.imagenes-cursos:hover{
    width: 35%;
}

/* Mobile Cursos Small*/
@media  screen and (min-width:300px) and (max-width:480px) {
    .contenedor-cursos{
        display: flex;
        flex-direction: column;
    }
    .titulos-cursos{
        font-size: var(--tamaño-mobilesmall);
        text-align: center;   
    }
    .imagenes-cursos{
        width: 60%;
        height: auto;
    }
    table {
        font-size: 10px;
    }
    .imagenes-cursos{
        width: 90%;
    }
    .contenedor-carousel{
        max-width: 90%;
        height: auto;
        margin: auto;
        padding:30px 0;
    }
}
/* Mobile Cursos Medium */

@media  screen and (min-width:481px) and (max-width:900px) {
    .titulos-cursos{
        font-size: var(--tamaño-mobilesmall);
        text-align: center;    
    }
    .contenedor-carousel{
        max-width: 90%;
        height: auto;
        margin: auto;
        padding:30px 0;
    }   
}
/*Fin de Cursos.html*/
 
/* Consultoria.html */
.grid-containerconsul{
    display: grid;
    grid-template-columns:1 fr 1fr;
    grid-template-rows: repeat(3 auto);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
    align-items: center;
}
.imagenes-consultoria{
    height: 300px;
}
.titulo-consultoria{
    grid-column: 1/3;
    grid-row: 1/2;
    font-family: 'Rubik', sans-serif;
    font-size: var(--tamaño-titulos);
    padding-left: 20px;
}
.imagen-consul1{
    grid-column: 1/2;
    grid-row: 2/3;
    padding-left: 10px;
}
.textos-consultoria{
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    grid-column: 2/3;
    grid-row: 2/3;
}
.imagen-consul2{
    grid-column: 1/2;
    grid-row: 3/4;
    padding-left: 10px;
}
.contenedor-consultoria{
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    justify-content: space-around;
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
}
.contenedor-consultoria ul{
    list-style-type: none;
}
.clientes-consultoria{
    display: flex;
    flex-direction: column;
}
/* Mobile Consultoria Small */

@media screen and (min-width:250px) and (max-width:450px){
    .grid-containerconsul{
        display: grid;
        grid-template-columns:1 fr 1fr;
        grid-template-rows: repeat(5 auto);
        justify-items: center;
        align-items: center;
        grid-row-gap: 5px;
    }
    .imagen-consul1{
        grid-column: 1/2;
        grid-row: 2/3;
        padding-left: 3px;
        width: 140px;
        height: auto;
    }
    .imagen-consul2{
        grid-column: 2/3;
        grid-row: 2/3;
        padding-left: 0;
        width: 140px;
        height: auto;
    }
    .textos-consultoria{
        width: 90%;
        justify-self: center;
        font-size: 15px;
        grid-column: 1/3;
        grid-row: 3/4;
        padding-top: 10px;
    } 
    .titulo-consultoria{
        font-size: var(--tamaño-mobilesmall);
        justify-self: start;
        grid-column: 1/3;
        grid-row: 1/2;
        padding-top: 10px; 
    }
    .contenedor-consultoria{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-self: start;
        font-size: 15px;
        grid-column: 1/3;
        grid-row: 4/5;
        padding-top: 20px;
    }
    .clientes-consultoria{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 20px;
    }
    .titulo2-consultoria{
        padding-left: 15px;
    }
}
/* Mobile Consultoria Medium */

@media screen and (min-width:451px) and (max-width:650px){
    .grid-containerconsul{
        display: grid;
        grid-template-columns:1 fr 1fr;
        grid-template-rows: repeat(5 auto);
        justify-items: center;
        align-items: center;
        grid-row-gap: 5px;
    }
    .imagen-consul1{
        grid-column: 1/2;
        grid-row: 2/3;
        padding-left: 3px;
        width: 200px;
        height: auto;
    }
    .imagen-consul2{
        grid-column: 2/3;
        grid-row: 2/3;
        padding-left: 0;
        width: 200px;
        height: auto;
    }
    .textos-consultoria{
        width: 90%;
        justify-self: center;
        font-size: 20px;
        grid-column: 1/3;
        grid-row: 3/4;
        padding-top: 10px;
    } 
    .titulo-consultoria{
        font-size: var(--tamaño-mobilesmall);
        justify-self: start;
        grid-column: 1/3;
        grid-row: 1/2; 
    }
    .contenedor-consultoria{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-self: start;
        font-size: 15px;
        grid-column: 1/3;
        grid-row: 4/5;
        padding-top: 20px;
    }
    .clientes-consultoria{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .titulo2-consultoria{
        padding-left: 15px;
    }
}
/* Mobile Consultoria Big */

@media screen and (min-width:651px) and (max-width:1000px){
    .textos-consultoria{
        font-size: 20px;
    } 
    .titulo-consultoria{
        font-size: var(--tamaño-mobilemedium); 
    }
    .contenedor-consultoria{
        font-size: 20px;
    }
}
/* Fin Consultoria.html */

/* Inicio Contacto */

.texto-contacto{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
#logos-contacto{
    padding-left: 20px;
}
.formulario-contacto{
    margin-top: 15px;
    padding: 10px;
    background-color:#F6F2D4;
    border:2px solid black;
}
.container-contacto{
    margin-bottom: 10px;
}
/* Fin Contacto */

/* Inicio del footer */
footer {
    background-color: rgba(229, 255, 205, 0.637);
    font-family:'Rubik', sans-serif;
}
.grid-containerfooter{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}
.flexcontainer-footer{
    display: flex;
}
.titulo-direccion{
    padding-left: 15px;
}
.texto-direccion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.mapa-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.flex-containerfooter2{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.titulo-redes{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.logo-redes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:20px;
}
.social-instagram{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-facebook{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-footer{
    padding-left: 15px;
    margin-top: 10px;
}
/* Mobile Small */
@media screen and (min-width:250px) and (max-width:850px) {
    .grid-containerfooter{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 1fr auto;
    }
    .logo-footer{
        display: flex;
        justify-content: center;
    }
    .texto-direccion{
        margin-top: 20px;
    }
    .flex-containerfooter2{
        margin-top: 20px;
    }
}
/* Fin del footer */