/* Cursos */
@import '../base/listas';
@import '../base/variables';
@import '../base/extends';
@import '../base/mixin';
@import '../base/maps';

.grid-containercursos{
    @include gridmix(grid,center,start);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    .titulos-cursos{
        font-family:nth($fonts, 1), nth($fonts,2);
        font-size: nth($size, 5);
        padding-top: map-get($padding-20, pd-top);
        padding-bottom: map-get($padding-20, pd-bot);
        padding-left: map-get($padding-20, pd-left);

        @media  screen and (min-width:300px) and (max-width:480px) {
            font-size: var($tamaño-mobilesmall);
            text-align: center;
        }
        @media  screen and (min-width:481px) and (max-width:900px) {
            font-size: var($tamaño-mobilesmall);
            text-align: center;
        }
    }
    .tabla-cursos{
        width: 90%;
        margin: 0 auto;
        border: 1px solid nth($colores, 2);
        border-spacing: 0;
        background-color:nth($colores, 4);
        color: nth($colores ,3);
        font-family:nth($fonts, 1), nth($fonts,2);
        
        .titulos-tablas{
            text-align: center;
            width: 25%;
            vertical-align: top;
            border: 1px solid nth($colores, 6);
            border-collapse: collapse;
            padding: 10px;
        }
        @media  screen and (min-width:300px) and (max-width:480px) {
            font-size: 10px;
        }
    }   
}
td{
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid nth($colores, 6);
    border-collapse: collapse;
    padding: 10px;
}

.contenedor-carousel{
    max-width: 40%;
    height: auto;
    margin: auto;
    padding:30px 0;

    .carousel-inner{
        .carousel-item{
            img{
                border-radius: 20px;
            }
        }
    }
   
    @media  screen and (min-width:300px) and (max-width:480px) {
        max-width: 90%;
        height: auto;
        margin: auto;
        padding:30px 0;
    }
    @media  screen and (min-width:481px) and (max-width:900px) {
        max-width: 90%;
        height: auto;
        margin: auto;
        padding:30px 0;
    } 
}

/*Fin de Cursos.html*/