/* Cursos */
@import '../base/listas';
@import '../base/variables';
@import '../base/extends';
@import '../base/mixin';
@import '../base/maps';

//Container grid que maqueta todo el main de cursos
.grid-containercursos{
    @include gridmix(grid,center,start);                //display: grid, justify-items: center, align-items:start
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    
    //Título de la página
    .titulos-cursos{        
        font-family:nth($fonts, 1), nth($fonts,2);      //'Rubik' , sans-serif
        font-size: nth($size, 5);                       //30px
        padding-top: map-get($padding-20, pd-top);      //20px
        padding-bottom: map-get($padding-20, pd-bot);   //20px
        padding-left: map-get($padding-20, pd-left);    //20px

        //Media queries para todos los dispositivos
        //Dispositivos pequeños y medianos
        @media  screen and (min-width:300px) and (max-width:900px) {
            font-size: var($tamaño-mobilesmall);        //20px
            text-align: center;
        }
    }

    //Tabla de cursos disponibles
    .tabla-cursos{          
        width: 90%;
        margin: 0 auto;
        border: 1px solid nth($colores, 2);             //color #88f2ef
        border-spacing: 0;
        background-color:nth($colores, 4);              //color #22577E
        color: nth($colores ,3);                        //color #F6F2D4
        font-family:nth($fonts, 1), nth($fonts,2);      //'Rubik',sans-serif
        
        //Títulos de la tabla
        .titulos-tablas{
            text-align: center;
            vertical-align: top;
            width: 25%;
            border: 1px solid nth($colores, 6);         //color #95D1CC
            border-collapse: collapse;
            padding: 10px;
        }
        //Media queries para todos los dispositivos
        //Dispositivos pequeños
        @media  screen and (min-width:300px) and (max-width:480px) {
            font-size: 10px;
        }
    }   
}
tr{
    td{
        width: 25%;
        text-align: left;
        vertical-align: top;
        border: 1px solid nth($colores, 6);                 //color #95D1CC 
        border-collapse: collapse;
        padding: 10px;
    }
}


//Contenedor carousel de 3 imágenes
.contenedor-carousel{       
    max-width: 30%;
    height: auto;
    margin: auto;
    padding: 30px 0;

    .carousel-inner{
        .carousel-item{
            img{
                border-radius: 20px;
            }
        }
    }
    //Media queries para todos los dispositivos
    //Dispositivos pequeños   
    @media  screen and (min-width:300px) and (max-width:900px) {
        max-width: 90%;
        height: auto;
        margin: auto;
        padding:30px 0;
    }
}

/*Fin de Cursos.html*/