/* CSS Footer */
@import '../base/listas';
@import '../base/variables';
@import '../base/extends';
@import '../base/mixin';

/* Inicio Footer */
footer {
    background-color: nth($colores ,5);
    font-family: nth($fonts, 1), nth($fonts,2);
}
.grid-containerfooter{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}
.flexcontainer-footer{
    display: flex;
}
.titulo-direccion{
    padding-left: 15px;
}
.texto-direccion{
    @extend %flex-center;
    margin-top: 10px;
}
.mapa-footer{
    @extend %flex-center;
    margin:10px 0;
}
.flex-containerfooter2{
    @include flexible(flex, column, nowrap,flex-start, stretch);
    margin-bottom: 20px;
}
.titulo-redes{
    font-size: nth($size, 4);
    @extend %flex-center;
    margin-top: 10px;
}
.social-instagram{
    @extend %flex-center;
}
.social-facebook{
    @extend %flex-center;
}
.logo-footer{
    padding-left: 15px;
    margin-top: 10px;
}
.logo-redes{
    @include flexible(flex, row, nowrap,space-evenly,center);
    margin-top:20px;

    a{
        text-decoration: none;
        color: black;
        img{
            padding-right: 5px;
        }
    }
}

/* Mobile Small */
@media screen and (min-width:250px) and (max-width:850px) {
     .grid-containerfooter{
         display: grid;
         grid-template-columns: auto;
         grid-template-rows: auto 1fr auto;
     }
     .logo-footer{
         @include flexible(flex, row, nowrap,center, stretch);
     }
     .texto-direccion{
         margin-top: 20px;
     }
     .flex-containerfooter2{
         margin-top: 20px;
    }
}
/* Fin del footer */