/* CSS Header */
@import '../base/listas';
@import '../base/variables';
@import '../base/extends';
@import '../base/mixin';
@import '../base/maps';
/* Inicio Header */

header{
    font-family: nth($fonts, 1), nth($fonts,2);
    border-bottom: 10px solid nth($colores , 2);
    .fondo-nav{
        background-color:nth($colores, 3);
        .container-fluid{
            .navbar-collapse{
                .navbar-nav{
                    position: relative;
                    padding: 7px 0;
                    font-size: 1.3rem;
                    .nav-item{
                        position: relative;
                        padding: 7px 0;
                        font-size: 1.3rem;
                        .nav-link{
                            @media screen and (min-width:250px) and (max-width:750px){
                                padding-left: 10px;
                                color: black;
                                margin-right: 0;
                                max-width: 200px;
                            }
                        }
                    }
                }
            }

        }
        @media screen and (min-width:250px) and (max-width:750px){
            width: 100%;
            border-bottom: none;
        }
    }

}

.navbar-nav .nav-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 3px;
    background: nth($colores , 1);
    transition: 0.4s ease-out;
}
.navbar-nav .nav-item:hover::after {
    left: 0;
    width: 100%;
}

/* Fin Header */