/* Listas */
$colores:
#5584AC,                        //1    /*Fondo body*/
#88f2ef,                        //2    /*Fondo header*/
#F6F2D4,                        //3    /*Fondo header*/
#22577E,                        //4    /* Fondo tabla*/
rgba(229, 255, 205, 0.637),     //5    /* Fondo footer*/
#95D1CC,                        //6    /*color grilla tabla*/
black;                          //7    /*color borde formulario*/ 


$fonts:
'Rubik',        //1
sans-serif,     //2
'EB Garamond',  //3 
serif;          //4

$size:
10px,   //1
15px,   //2
20px,   //3
25px,   //4
30px,   //5
35px,   //6
45px;   //7